@import "tailwindcss";
html,
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-brand-secondary);
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-brand-primary);
}
@theme {
  --font-serif: "Fenix", serif;
  --font-sans: "Inter", sans-serif;
  --color-primary: #0b1b2b; /* bg */
  --color-brand-primary: #3a3f6b; /* navbar buttons */
  --color-brand-secondary: #2f3a6a;
  --color-brand-tertiary: #253058;

  /* texts */
  --color-font-primary: #e6f1ff; /* font */
  --color-font-secondary: #9cbde3; /* font */
  --color-font-muted: #7a9abf; /* muted tekst, opisy, placeholdery */
  --color-font-muted-2: #4a6a8a; /* bardzo wyciszony tekst */

  --color-hover: #a5baff; /* font hover */

  --color-link-primary: #1a73e8; /* links */
  --color-link-secondary: #498be8;

  --color-effect-glass: rgba(255, 255, 255, 0.04); /* button hover */
  --shadow-black: 0 8px 28px rgba(3, 8, 18, 1); /* shadow */

  /* containers */
  --color-surface: #0f2235;
  --color-surface-soft: #152a40;
  --color-surface-raised: #1a3250;
  --color-surface-overlay: #091520;

  /* borders */
  --color-border: rgba(165, 186, 255, 0.1);
  --color-border-strong: ;

  /* tags*/
  --color-accent-cold: #3d8ef0;
  --color-accent-cold-dim: #428fee;

  /* other */
  --bg-image: url("/bg.png");
  --color-destructive: lab(63.7053% 60.745 31.3109);
  --color-destructive-background: rgba(255, 100, 102, 0.3);
}
