@import "tailwindcss";
* {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}
@theme {
  /* fonty musza miec --font colory --color itd. */
  --font-serif: "Fenix", serif;
  --font-sans: "Inter", sans-serif;
  --breakpoint-under380px: 380px;
  --color-primary: #0b1b2b;
  --color-surface: #1a2433;
  --color-surface-soft: rgb(thirty, 41, 56);

  --color-brand-primary: #3a3f6b;
  --color-brand-secondary: #2f3a6a;
  --color-brand-tertiary: #253058;

  --color-accent-cold: #1e3a57;
  --color-accent-main: #a5baff;

  --color-link-primary: #1a73e8;
  --color-link-secondary: #498be8;

  --color-focus-tab: linear-gradient(
    90deg,
    var(--color-brand-primary),
    var(--color-brand-secondary)
  );

  --color-text-primary: #e6f1ff;
  --color-text-muted: #b9c7df;

  --color-effect-glass: rgba(255, 255, 255, 0.04);
  --shadow-black: 0 8px 28px rgba(3, 8, 18, 1);
}
