@import "tailwindcss";
* {
  box-sizing: border-box;
}
@theme {
  /* fonty musza miec --font colory --color itd. */
  --font-serif: "Fenix", serif;
  --font-sans: "Inter", sans-serif;
  --color-primary-100: #454545;
  --color-primary-200: #404040;
  --color-primary-300: #3b3b3b;
  --color-primary-400: #363636;
  --color-primary-500: #323232;
  --color-primary-600: #2d2d2d;
  --color-primary-700: #282828;
  --color-primary-800: #232323;
  --color-primary-900: #1e1e1e;
  --color-secondary-100: #69b4ff;
  --color-secondary-200: #0085ff;
  --color-secondary-300: #006fff;
}
